<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epidemic Diseases</title>
</head>
<body>
<a href="http://127.0.0.1:5000/co19">Confirmed,Deaths and Active cases for Top 15 countries</a><br>
<a href="http://127.0.0.1:5000/co19_2">Evolution of Cases in the world over time</a><br>
<a href="http://127.0.0.1:5000/co19_3">US</a><br>
<a href="http://127.0.0.1:5000/co19_4">India</a><br>
<a href="http://127.0.0.1:5000/co19_5">MainLand China</a><br>
<a href="http://127.0.0.1:5000/co19_6">Italy</a><br>
<a href="http://127.0.0.1:5000/co19_7">Comparison of cases covid 19</a><br>
<a href="http://127.0.0.1:5000/co19_8">Comparison of deaths covid 19</a><br>
<a href="http://127.0.0.1:5000/co19_9">img 9</a><br>
<a href="http://127.0.0.1:5000/co19_10">img 10</a><br>
<a href="http://127.0.0.1:5000/co19_11">img 11</a><br>
<a href="http://127.0.0.1:5000/co19_12">img 12</a><br>
<a href="http://127.0.0.1:5000/co19_13">img 13</a><br>
<a href="http://127.0.0.1:5000/co19_14">img 14</a><br>
<a href="http://127.0.0.1:5000/co19_15">img 15</a><br>
<a href="http://127.0.0.1:5000/co19_16">img 16</a><br>
<a href="http://127.0.0.1:5000/co19_17">img 17</a><br>
<a href="http://127.0.0.1:5000/co19_18">img 18</a><br>
<a href="http://127.0.0.1:5000/co19_19">img 19</a><br>
<a href="http://127.0.0.1:5000/co19_20">img 20</a><br>
<a href="http://127.0.0.1:5000/co19_21">img 21</a><br>
<a href="http://127.0.0.1:5000/co19_22">img 22</a><br>
<a href="http://127.0.0.1:5000/co19_23">img 23</a><br>
<a href="http://127.0.0.1:5000/co19_24">img 24</a><br>
<a href="http://127.0.0.1:5000/co19_25">img 25</a><br>
<a href="http://127.0.0.1:5000/co19_26">img 26</a><br>












</body>
</html>